* {
    margin: 0;
    padding: 0;
}


:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    background-color: #edd54e;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

#lang-selector {
    position: absolute;
    top: 0;
    right: 20px;
    margin: 30px;
    height: 30px;
    background-color: #9f8e46;
    color: #000000;
    border-radius: 3px;
}

#main-container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
}

.he-text {
    direction: rtl;
}

body {
    margin: 0;
    display: flex;
    min-width: 320px;
    min-height: 100vh;
}
  
h1 {
    font-size: 3.2em;
    line-height: 1.1;
    margin: 30px;
    color: #000000;
}
  
h2 {
    font-size: 2em;
}

h3 {
    color: #000000;
}
  
button {
    margin: 30px;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #9f8e46;
    cursor: pointer;
    transition: border-color 0.25s;
    color: #000000;
    box-shadow: #000000 0 1px 5px;
}

button:hover {
    background-color: #77763c;
    color: #7d7d7dde;
}

button:focus, button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

button:disabled {
    background-color: #77763c;
    color: #7d7d7dde;
    cursor: default;
}

.flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.output-button {
    margin: 10px;
    margin-bottom: 0;
    font-size: .8em;
    font-weight: 500;
}

#id-input {
    margin: 30px;
    width: 200px;
    height: 30px;
    background-color: #9f8e46;
    color: #000000;
}

#copied{
    margin: 5px;
    font-size: 10px;
    font-weight: bold;
    color: #000000;
}

#validator {
    height: auto;
    min-height: 50px;
}

#footer, a {
    color: #000000;
    font-size: 90%;
    font-weight: 600;
}

img {
    width: 50px;
    height: 50px;
    box-shadow: #000000 1px 0 3px;
    border-radius: 50%;
}
p {
    margin: 10px;
}
